PORT=3000
NODE_ENV=development
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
MERCADOPAGO_ACCESS_TOKEN=
GOOGLE_MAPS_API_KEY=
JWT_SECRET=
JWT_EXPIRATION=
PORT=
NODE_ENV=
AWS_REGION=
AWS_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=